name : Implemented CICD for this project

on:
  push:
    branches:
         - main
    paths-ignore:
        - 'helm/**'
        - 'k8s/**'
        - 'README.md'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install Go
      uses: actions/setup-go@v5
    
    - name: Build
      run: go build -o go-web-app

    - name: Test
      run: go test ./...

  code-quality:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Run golang-lint
      uses: golangci/golangci-lint-action@v6

  push:
    runs-on: ubuntu-latest
    needs: [build, code-quality]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: set up docker buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Dockerhub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
  
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: user/app:latest

  update-helm:
    runs-on: ubuntu-latest
    needs: push

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        token: ${{ secrets.TOKEN }}

    - name: Update image tag
      run: |
        sed -i 's/tag: .*/tag: "${{ github.run_id }}"/' helm/go-web-app-chart/values.yaml

    - name: Commit and push change
      run: |
        git config --global user.email "iamkarnas.d@gmail.com"
        git config --global user.name "Sankar"
        git add helm/go-web-app-chart/values.yaml
        git commit -m "Update tag in Helm chart"
        git push